<div class="container">
  <h2 class="center">Invitation</h2>
  <p class="center">Hello {{firstname}} {{lastname}}!</p>
  <blockquote>
    <p>{{ownerFirstName}} {{ownerLastName}} has invited you to the party - "{{ eventName }}" {{date}}. </p>
    <p>Description: {{ eventDescription }}. </p>
    <p>To confirm please follow this<a href={{url}}> link </a>. </p>
  </blockquote>
  <p class="center"><img src="cid:email.img"/></p>
  <p class="center small">Please note: This e-mail was sent from a notification-only address
    that cannot accept incoming e-mail. Please do not reply to this message.</p>
</div>
